@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');

body {
  background-color: #f6f7f7;
  margin: 0;
  font-family: 'Jolly Lodger'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
